
.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
    &:hover {
        .test {
            visibility: visible;
        }
    }
    .card-detail {
        overflow: hidden;
        padding: 6px 8px 6px;
        position: relative;
        z-index: 10;

        .card-labels {
            overflow: auto;
            position: relative;

            .card-label {
                color: #fff;
                height: 16px;
                line-height: 16px;
                padding: 0 8px;
                max-width: 198px;
                background-color: yellow;
                float: left;
                font-size: 12px;
                font-weight: 700;
                margin: 0 4px 4px 0;
                min-width: 40px;
                width: auto;
                display: block;
                border-radius: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .label-text {
                    display: initial;
                }
            }
            .test {
                visibility: hidden;
            }
        }

        .card-title {
            clear: both;
            display: block;
            margin: 0 0 4px;
            overflow: hidden;
            color: #172b4d;
            text-decoration: none;
            font-size: 14px;
            line-height: 2;
            
        }

        .badges {
            .el-button {
                padding: 5px 5px;
                font-size: 12px;
            }
        }
    }
}
