.directory-content {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;

    .directory-header {
        flex: 0 0 auto;
        padding: 8px 8px;
        position: relative;
        min-height: 20px;

        p {
            cursor: pointer;
            line-height: 18px;
            font-weight: bold;
            margin: 0;
            font-size: .9rem;
        }
        .directory-header-extras {
            position: absolute;
            right: 8px;
            top: 8px;
            z-index: 1;
            padding: 3px;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
                background-color: #989da1a6;
            }
        }
    }

    .directory-main {
        margin-bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 4px;
        padding: 0 4px;
        z-index: 1;
        min-height: 0;
        
        .form-add-card {
            padding-bottom: 8px;
            // .el-textarea >>> .el-textarea__inner{
            //     font-family:"Arial" !important;
            // }
            .card-add-controls {
                margin-top: 4px;
                .btn-save {
                    padding: 10px 15px !important;
                    margin-right: 10px;
                    float: left;
                }
                i {
                    cursor: pointer;
                    width: 32px;
                    margin-top: 2px;
                    line-height: 32px;
                    font-size: 24px;
                }
            }
        }
        .card {
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
            cursor: pointer;
            display: block;
            margin-bottom: 8px;
            max-width: 300px;
            min-height: 20px;
            position: relative;
            z-index: 0;
            &:hover {
                .test {
                    visibility: visible;
                }
            }
            .card-detail {
                overflow: hidden;
                padding: 6px 8px 6px;
                position: relative;
                z-index: 10;
        
                .card-labels {
                    overflow: auto;
                    position: relative;
        
                    .card-label {
                        color: #fff;
                        height: 16px;
                        line-height: 16px;
                        padding: 0 8px;
                        max-width: 198px;
                        background-color: yellow;
                        float: left;
                        font-size: 12px;
                        font-weight: 700;
                        margin: 0 4px 4px 0;
                        min-width: 40px;
                        width: auto;
                        display: block;
                        border-radius: 4px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
        
                        .label-text {
                            display: initial;
                        }
                    }
                    .test {
                        visibility: hidden;
                    }
                }
                .card-title {
                    clear: both;
                    display: block;
                    margin: 0 0 4px;
                    overflow: hidden;
                    color: #172b4d;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 2;
                    
                }
        
                .badges {
                    .el-button {
                        padding: 5px 5px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .directory-footer {
        min-height: 32px;
        max-height: 32px;
        display: flex;
        justify-content: space-between;
        .add-card {
            border-radius: 3px;
            display: block;
            flex: 1 0 auto;
            padding: 4px 8px;
            line-height: 1;
            height: 50%;
            cursor: pointer;
            font-size: 14px;
            color: #172b4d;
            margin: 2px 8px 0 8px;
            &:hover {
                background-color: #d8d9dd;
            }
        }
    }
    .el-dialog {
        .detail-card-header {
            width: 95%;
            position: absolute;
            top: -40px;
            font-size: 20px;
            .detail-card-title {
                margin-left: 15px;
                font-size: 20px;
                border: none;
                height: 30px;
                width: 90%;
            }
        }
        .card-info {
            margin-top: 20px;
            .card-info-title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 18px;
                .btn-delete-checklist {
                    padding: 5px 10px;
                    margin-left: 5px;
                    float: right
                }
            }
            .card-description {
                width: 100%;
                max-height: 100px;
                overflow: auto;
                box-sizing: border-box;
                cursor: pointer;
            }
            .add-card-description {
                width: 100%;
                height: 56px;
                padding: 10px;
                box-sizing: border-box;
                background-color: rgba(9,30,66,.04);
                cursor: pointer;
                border-radius: 3px;
                &:hover {
                    background-color: rgb(22 23 25 / 12%);
                }
            }
            .add-card-description-textarea {
                width: 100%;
                height: 100px;
                padding: 10px;
                box-sizing: border-box;
                font-family: Arial;
                font-size: 14px;
            }
            .edit-controls{
                margin-top: 8px;
                button {
                    background-color: #5aac44;
                    box-shadow: none;
                    border: none;
                    color: #fff;
                    margin: 0 4px 0 0;
                    font-size: 14px;
                }
                .icon {
                    display: inline-block;
                    font-family: trellicons;
                    font-style: normal;
                    font-weight: 400;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: bottom;
                    height: 32px;
                    line-height: 32px;
                    width: 32px;
                    color: #42526e;
                    font-size: 24px;
                    cursor: pointer;
                }
            }
            .card-action-btn {
                width: 100%;
                height: 32px;
                border-radius: 3px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                padding-left: 7px;
                background-color: rgba(9,30,66,.04);
                margin-bottom: 7px;
                cursor: pointer;
                &:hover {
                    background-color: rgb(22 23 25 / 12%);
                }
            }
            .file-item {
                position: relative;
                margin-bottom: 10px;
                height: 81px;
                &:hover {
                    background-color: rgb(22 23 25 / 12%);
                }
                .card-files-info {
                    width: 200px;
                    position: absolute;
                    top: 10px;
                    left: 130px;
                    .file-name {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        margin-top: 5px;
                    }
                }
                .card-files {
                    width: 115px;
                    height: 80px;
                    border-radius: 3px;
                }
            }
        }
        .card-info-left {
            margin-top: 20px;
            .card-info-left__head {
                margin-bottom: 7px;
                .card-info-left__head-title {
                    font-size: 12px;font-weight: 600;color: #5e6c84;
                }
                .add-labels {
                    font-family: Arial;
                    height: auto;
                    background-color: black;
                    .add-labels__btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        border-bottom: 1px solid rgb(9 30 66 / 16%);
                        margin-bottom: 10px;
                    }
                }
                .prop-action-btn {
                    justify-content: center;
                    margin-top: 10px;
                }
            }
            .card-action-btn {
                width: 100%;
                height: 32px;
                border-radius: 3px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                padding-left: 7px;
                background-color: rgba(9,30,66,.04);
                margin-bottom: 7px;
                cursor: pointer;
                &:hover {
                    background-color: rgb(22 23 25 / 12%);
                }
                .card-info-left__icon {
                    margin-right: 7px
                }
                .card-info-left__time-title {
                    position: absolute;
                    z-index: 1;
                    right: 96px;
                    cursor: pointer;
                }
                .card-info-left__time-picker {
                    opacity: 0;
                    z-index: 10;
                    cursor: pointer;
                }
            }
            .btn-delete-card {
                padding: 6px 20px;
            }
        }
    }
}
.color-picker {
    width: 55px;
    height: 32px;
    margin: 0 5px 5px 0;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.label-name {
    width: 98%;
    height: 30px;
    display: block;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 5px;
}
.btn-add-attactment {
    width: 200px;
}
.input-sub-check-list {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.check-list-childs {
    margin-bottom: 15px;
}
.overdue {
    color: #ffffff;
    padding: 1px;
    font-size: 12px;
    background-color: #ec9488;
    border-radius: 3px;
    margin-left: 7px;
}
.complete {
    color: #ffffff;
    padding: 2px 5px;
    font-size: 12px;
    background-color: #61bd4f;
    border-radius: 3px;
    margin-left: 7px;
}
.due-soon {
    color: #ffffff;
    padding: 2px 5px;
    font-size: 12px;
    background-color: #f2d600;
    border-radius: 3px;
    margin-left: 7px;
}
.due-date-checkbox {
    padding-right: 7px;
    width: 100%;
    height: 32px;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 7px;
    background-color: rgba(9,30,66,.04);
    margin-bottom: 7px;
    cursor: pointer;
}
.text-small {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #5e6c84;
}
.btn-delete-checklist-child {
    margin-left: 375px;
    padding: 5px 8px;
}