.el-container {
    background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2333x1600/85d3896e5e19f95591a72b7ab5879f41/photo-1612485222394-376d81a3e829.jpg');
    background-size: cover;
    background-position: 50%;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    text-align: center;
    .el-header {
        background-color: rgba(0,0,0,.32);
        box-sizing: border-box;
        min-height: 40px !important;
        max-height: 40px !important;
        .el-row {
            .avatar {
                text-align: right;
                .el-dropdown {
                    .el-avatar {
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .el-main {
        padding-left: 0;
        padding-right: 0;
        #content {
            position: relative;
            outline: none;
            height: 100%;
        
            .main-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: hidden;
                overflow-x: auto;
                margin-bottom: 8px;
                padding-bottom: 8px;
                height: 100%;
                text-align: left;
                white-space: nowrap;
        
                .directory {
                    width: 272px;
                    margin: 0 4px;
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                    &:first-child {
                        margin-left: 8px;
                    }
                    &:last-child {
                        margin-right: 8px;
                    }
        
                    .directory-content {
                        background-color: #ebecf0;
                        border-radius: 3px;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        max-height: 100%;
                        position: relative;
                        white-space: normal;
        
                        .directory-header {
                            flex: 0 0 auto;
                            padding: 8px 8px;
                            position: relative;
                            min-height: 20px;
        
                            p {
                                cursor: pointer;
                                line-height: 18px;
                                font-weight: bold;
                                margin: 0;
                                font-size: .9rem;
                            }
                            .directory-header-extras {
                                position: absolute;
                                right: 8px;
                                top: 8px;
                                z-index: 1;
                            }
                        }
        
                        .directory-main {
                            margin-bottom: 0;
                            overflow-y: auto;
                            overflow-x: hidden;
                            margin: 0 4px;
                            padding: 0 4px;
                            z-index: 1;
                            min-height: 0;
        
                            .card {
                                background-color: #fff;
                                border-radius: 3px;
                                box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
                                cursor: pointer;
                                display: block;
                                margin-bottom: 8px;
                                max-width: 300px;
                                min-height: 20px;
                                position: relative;
                                z-index: 0;
                                &:hover {
                                    .test {
                                        visibility: visible;
                                    }
                                }
                                .card-detail {
                                    overflow: hidden;
                                    padding: 6px 8px 8px;
                                    position: relative;
                                    z-index: 10;
        
                                    .card-labels {
                                        overflow: auto;
                                        position: relative;
        
                                        .card-label {
                                            color: #fff;
                                            height: 16px;
                                            line-height: 16px;
                                            padding: 0 8px;
                                            max-width: 198px;
                                            background-color: yellow;
                                            float: left;
                                            font-size: 12px;
                                            font-weight: 700;
                                            margin: 0 4px 4px 0;
                                            min-width: 40px;
                                            width: auto;
                                            display: block;
                                            border-radius: 4px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
        
                                            .label-text {
                                                display: initial;
                                            }
                                        }
                                        .test {
                                            visibility: hidden;
                                        }
                                    }
        
                                    .card-title {
                                        clear: both;
                                        display: block;
                                        margin: 0 0 4px;
                                        overflow: hidden;
                                        color: #172b4d;
                                        text-decoration: none;
                                        font-size: 14px;
                                        line-height: 2;
                                        
                                    }
        
                                    .badges {
                                        .el-button {
                                            padding: 5px 5px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                            .form-add-card {
                                padding-bottom: 8px;
                                .card-add-controls {
                                    margin-top: 4px;
                                    .btn-save {
                                        padding: 10px 15px !important;
                                        margin-right: 10px;
                                        float: left;
                                    }
                                    i {
                                        cursor: pointer;
                                        width: 32px;
                                        margin-top: 2px;
                                        line-height: 32px;
                                        font-size: 24px;
                                    }
                                }
                            }
                        }
                        .directory-footer {
                            min-height: 32px;
                            max-height: 32px;
                            display: flex;
                            justify-content: space-between;
                            .add-card {
                                border-radius: 3px;
                                display: block;
                                flex: 1 0 auto;
                                padding: 4px 8px;
                                line-height: 1;
                                height: 50%;
                                cursor: pointer;
                                font-size: 14px;
                                color: #172b4d;
                                margin: 2px 8px 0 8px;
                                &:hover {
                                    background-color: #d8d9dd;
                                }
                            }
                        }
                    }
                }
                .is-idle {
                    cursor: pointer;
                    background-color: rgba(0,0,0,.08);
                    &:hover {
                        background-color: rgba(255,255,255,.24);
                    }
                }
                .add-directory {
                    background-color: #ebecf0;
                    border-radius: 3px;
                    height: auto;
                    min-height: 32px !important;
                    padding: 4px;
                
                    .open-add-directory {
                        text-decoration-line: none;
                        color: #172b4d !important;
                        padding: 6px 8px;
                        line-height: 1;
                        font-size: 14px;
                        display: block;
                    }
                
                    .form-add-directory {
                        .directory-add-controls {
                            margin-top: 4px;
                            .btn-save {
                                padding: 10px 15px !important;
                                margin-right: 10px;
                                float: left;
                            }
                            i {
                                width: 32px;
                                line-height: 32px;
                                font-size: 24px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}