#user {
    background-color: #36393f;
    height: 100vh;
    color: #fff;
    position: relative;
    .close {
        position: absolute;
        left: 70%;
        top: 2%;
        z-index: 20;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #72767d;
        &:hover {
            background-color: #72767d;
        }
        .close-icon {
            color: #dcddde;
            font-size: 18px;
        }
    }
    .el-row {
        margin: 0 !important;
        .el-col {
            .user-info {
                .information {
                    .information-content {
                        padding: 16px;
                        border-radius: 8px;
                        background-color: #2f3136;
                        .el-row {
                            .user-name {
                                line-height: 60px;
                                font-weight: bold;
                                position: relative;
                                .image-upload {
                                    position: absolute;
                                    background: white;
                                    right: 166px;
                                    top: 120px;
                                    width: 120px;
                                    height: 120px;
                                    border-radius: 50%;
                                    border-radius: 120px;
                                    outline: none;
                                    img {
                                        width: 120px !important;
                                        height: 120px !important;
                                        border-radius: 50%;
                                    }
                                    .closeBtn {
                                        position: relative;
                                        font-size: 23px;
                                        border-radius: 50px;
                                        width: 23px;
                                        height: 23px;
                                        top: -162px;
                                        left: 113px;
                                        cursor: pointer;
                                        z-index: 100;
                                    }
                                }
                                .error {
                                    color: #F56C6C;
                                    font-size: 12px;
                                    line-height: 1;
                                    font-weight: 100;
                                    margin-left: 4px;
                                }
                            }
                            .el-col {
                                .information-content__base {
                                    border-radius: 8px;
                                    background-color: #36393f;
                                    padding: 16px;
                                    margin-top: 16px;
                                    .el-row {
                                        .el-col {
                                            margin-top: 24px;
                                            &:first-child {
                                                margin-top: 0;
                                            }
                                            .information-content__base-content {
                                                h6 {
                                                    text-transform: uppercase;
                                                    margin: 0 0 4px;
                                                    color: #8e9297;
                                                }
                                                span {
                                                    font-size: 13px;
                                                }
                                                button {
                                                    &:hover {
                                                        background-color: red;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .block {
                                    .avatar {
                                        .img {
                                            display:block;
                                            height: 60px;
                                            width: 60px;
                                            border-radius: 50%
                                        }
                                    }
                                    #avatar {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .line {
                width: 100%;
                height: 1px;
                border-top: thin solid #ffffff0f;
                margin-top: 40px;            
            }
            .password {
                .btn-change-password {
                    background-color: #7289da;
                    font-size: 13px;
                    padding: 10px 16px;
                    &:hover {
                        background-color: #6a7fcb;
                    }
                }
                .form-change-password {
                    .el-dialog {
                        background-color: rgb(156, 146, 146) !important;
                    }
                }
            }
            .logout {
                .btn-logout {
                    background-color: #f04747;
                    margin-top: 22px;
                    font-size: 13px;
                    padding: 10px 16px;
                    &:hover {
                        background-color: #d53b3b;
                    }
                }
            }
        }
    }
}